Repository dotnet/macios, pull requests merged in 2018-09, with the labels that each got.

#4731 [tests] Fix System.Net.Http and link sdk tests
  tests/bcl-test/System.Net.Http/System.Net.Http.csproj.template
  tests/linker/ios/link sdk/AsyncTest.cs
Labels: run-bcl-tests

#4805 [Tests] force the IP version to fix tests on bots.
  tests/monotouch-test/Network/NWPathTest.cs
Labels: pr-change-not-shipping

#4815 [Tests] Remove IPV6 flaky test with an ignore.
  tests/monotouch-test/Network/NWPathTest.cs
Labels: pr-change-not-shipping

#4827 Bump maccore to get fix for #4430.
  mk/xamarin.mk
Labels: build-package, run-internal-tests

#4883 [xcode10] XM/AppKit audit
  Make.config
  src/AppKit/Enums.cs
  src/appkit.cs
  src/foundation.cs
Labels: requires-approval-before-merge
