Repository dotnet/macios, pull requests merged in 2018-11, with the labels that each got.

#5090 [tests] Point MSBuild to the right Xamarin.Mac location when building packaged Xamarin.Mac tests. Fixes maccore#1115.
  tests/Makefile
  tests/package-mac-tests.sh
  tests/xharness/MakefileGenerator.cs
Labels: build-package

#5099 [monotouch-test] Add version check to SceneKit.ActionTest. Fixes maccore#1119.
  tests/monotouch-test/SceneKit/ActionTest.cs
Labels: build-package

#5113 [mac] Enable various msbuild only tests that were disabled
  tests/mmptest/src/MMPTest.cs
  tests/mmptest/src/NetStandardTests.cs
  tests/mmptest/src/PackageReferenceTests.cs
  tests/msbuild-mac/src/RoslynSmokeTests.cs
Labels: do-not-merge

#5108 Remove some [Sealed] in XAMCORE_4_0 where not necessary
  src/foundation.cs
Labels: do-not-merge

#5141 Bump maccore to get mlaunch build fix.
  mk/xamarin.mk
Labels: build-package

#5149 Revert "[xharness] Only build the BCL tests when we need them. (#5139)"
  tests/Makefile
  tests/xharness/BCLTestImporter/BCLTestImportTargetFactory.cs
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
  tests/xharness/TestProject.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5160 Bump maccore to get provisioning profile fix.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5150 [jenkins] Improve failure reporting slightly by listing 'Test docs' and 'Test run' as failing stages in the commit comment.
  jenkins/Jenkinsfile
Labels: run-internal-tests, skip-public-jenkins

#5164 [tests] Use xibuild when building packaged XM tests. Fixes maccore#1169.
  tests/package-mac-tests.sh
Labels: build-package, skip-public-jenkins

#5163 Bump maccore to get fix for test-docs.
  jenkins/Jenkinsfile
  mk/xamarin.mk
Labels: run-docs-tests, run-internal-tests, skip-public-jenkins

#5168 [jenkins] If provisioning fails with error 56, try again a few more times. Fixes maccore#1098.
  jenkins/prepare-packaged-macos-tests.sh
Labels: skip-public-jenkins

#5156 [Xharness] Add a workaround to not build the xunit tests when not needed.
  tests/Makefile
  tests/xharness/BCLTestImporter/BCLTestImportTargetFactory.cs
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
  tests/xharness/TestProject.cs
  tests/xharness/xharness.csproj
  tools/bcl-test-importer/BCLTestImporter/BCLTestImporter.csproj
  tools/bcl-test-importer/BCLTestImporter/BCLTestImporterTests/BCLTestImporterTests.csproj
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinitionWorkaround.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/RegisterTypeGenerator.cs
Labels: run-bcl-tests

#5181 [macos] Fix Constants.mac.cs.in for backward compatibility
  src/Constants.mac.cs.in
  tests/introspection/ApiTypoTest.cs
Labels: run-all-tests, skip-device-tests, skip-ios-device-tests

#5200 [jenkins] If provisioning an old mono fails with error 56, try again a few more times. Fixes maccore#1098.
  jenkins/Jenkinsfile
  jenkins/prepare-packaged-macos-tests.sh
Labels: skip-public-jenkins

#5206 [xharness] Fix retry-download-on-error-56 logic to actually work.
  jenkins/prepare-packaged-macos-tests.sh
Labels: skip-public-jenkins

#5207 [xharness] Implement Process.WaitForExitAsync and use it instead of creating background threads.
  tests/xharness/Process_Extensions.cs
Labels: skip-public-jenkins
