Repository dotnet/macios, pull requests merged in 2018-02, with the labels that each got.

#3458 [xharness] Fixing cloning of XM projects with custom elements.
  tests/xharness/ProjectFileExtensions.cs
Labels: run-bcl-tests

#3462 [mtouch/mmp] Optimize protocols in the linker + static registrar
  docs/website/mmp-errors.md
  docs/website/mtouch-errors.md
  docs/website/optimizations.md
  runtime/runtime.m
  runtime/xamarin/runtime.h
  src/ObjCRuntime/Class.cs
  src/ObjCRuntime/DynamicRegistrar.cs
  src/ObjCRuntime/Protocol.cs
  src/ObjCRuntime/Registrar.cs
  src/ObjCRuntime/Runtime.cs
  tests/common/BundlerTest.cs
  tests/common/BundlerTool.cs
  tests/mmptest/src/MMPTest.cs
  tests/mmptest/src/MmpTool.cs
  tests/monotouch-test/Foundation/NSDataTest.cs
  tests/monotouch-test/ObjCRuntime/ProtocolTest.cs
  tests/mtouch/MTouch.cs
  tests/mtouch/MTouchTool.cs
  tests/mtouch/RegistrarTest.cs
  tests/xharness/Jenkins.cs
  tests/xharness/ProjectFileExtensions.cs
  tools/common/DerivedLinkContext.cs
  tools/common/Driver.cs
  tools/common/Optimizations.cs
  tools/common/StaticRegistrar.cs
  tools/linker/CoreMarkStep.cs
  tools/linker/CoreRemoveAttributes.cs
  tools/linker/CoreSweepStep.cs
  tools/linker/MobileSweepStep.cs
  tools/linker/MonoTouch.Tuner/MonoTouchSweepStep.cs
  tools/mmp/Makefile
  tools/mmp/Tuning.cs
  tools/mmp/driver.cs
  tools/mmp/mmp.csproj
  tools/mtouch/Makefile
  tools/mtouch/mtouch.csproj
Labels: run-all-tests, skip-device-tests, skip-ios-device-tests

#3495 Implement support for optimizing away the dynamic registrar.
  docs/website/mmp-errors.md
  docs/website/mtouch-errors.md
  docs/website/optimizations.md
  runtime/Delegates.cs.t4
  runtime/delegates.h.t4
  runtime/delegates.t4
  runtime/monotouch-main.m
  runtime/runtime-generated.h.t4
  runtime/runtime.m
  runtime/xamarin/main.h
  runtime/xamarin/runtime.h
  src/Foundation/NSObject2.cs
  src/ObjCRuntime/Blocks.cs
  src/ObjCRuntime/Class.cs
  src/ObjCRuntime/Runtime.cs
  src/ObjCRuntime/TypeConverter.cs
  tests/bindings-test/ProtocolTest.cs
  tests/common/ApiTest.cs
  tests/common/BundlerTest.cs
  tests/linker/ios/link all/PreserveTest.cs
  tests/linker/ios/link all/link all.csproj
  tests/mmptest/src/MMPTest.cs
  tests/monotouch-test/ObjCRuntime/BlocksTest.cs
  tests/monotouch-test/ObjCRuntime/ClassTest.cs
  tests/monotouch-test/ObjCRuntime/RegistrarTest.cs
  tests/monotouch-test/ObjCRuntime/RuntimeTest.cs
  tests/monotouch-test/Photos/LivePhotoEditingContextTest.cs
  tests/mtouch/MTouch.cs
  tests/xharness/Jenkins.cs
  tools/common/Application.cs
  tools/common/Driver.cs
  tools/common/Optimizations.cs
  tools/linker/CoreOptimizeGeneratedCode.cs
  tools/linker/CoreTypeMapStep.cs
  tools/mmp/driver.cs
  tools/mtouch/mtouch.cs
Labels: enable-device-build, run-all-tests, skip-device-tests, skip-ios-device-tests

#3492 Remove the tvos cross compiler, use the normal ios cross compiler ins…
  builds/Makefile
  tools/mtouch/mtouch.cs
Labels: enable-device-build, run-all-tests, skip-device-tests

#3542 [Appkit] Fix NSApplication.NextEvent signatures.
  src/AppKit/NSApplication.cs
  src/appkit.cs
Labels: macOS

#3393 Build with CSC instead of MCS
  Make.config
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TargetTests/TargetTests.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TestHelpers/TestBase.cs
  src/Makefile
  src/btouch.cs
  tools/install-source/Makefile
  tools/install-source/Program.cs
Labels: do-not-merge, enable-device-build, run-all-tests, skip-device-tests, skip-ios-device-tests

#3569 [BusinessChat] Introduction of the new framework on iOS and Mac.
  src/BusinessChat/BCChatAction.cs
  src/BusinessChat/Enums.cs
  src/Constants.iOS.cs.in
  src/Constants.mac.cs.in
  src/Foundation/NSObject.mac.cs
  src/businesschat.cs
  src/frameworks.sources
  tests/xtro-sharpie/iOS-BusinessChat.todo
  tests/xtro-sharpie/macOS-BusinessChat.todo
  tools/mmp/driver.cs
  tools/mtouch/Makefile
Labels: do-not-merge
