Repository dotnet/macios, pull requests merged in 2018-10, with the labels that each got.

#4884 Disable known failing device tests using xharness
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
  tests/xharness/Simulators.cs
  tests/xharness/TestProject.cs
Labels: do-not-merge

#4111 [msbuild] Move from xbuild to msbuild
  Make.config
  fsharp/Makefile
  msbuild/Xamarin.Mac.Tasks.Core/Xamarin.Mac.Tasks.Core.csproj
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Tasks.csproj
  msbuild/Xamarin.MacDev.Tasks.Core/MsBuildTasks/CopyBase.cs
  msbuild/Xamarin.MacDev.Tasks.Core/Xamarin.MacDev.Tasks.Core.csproj
  msbuild/Xamarin.MacDev.Tasks/Xamarin.MacDev.Tasks.csproj
  msbuild/Xamarin.iOS.Tasks.Core/Tasks/GetPropertyValueTaskBase.cs
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.Tasks.Core.csproj
  msbuild/Xamarin.iOS.Tasks/Xamarin.iOS.Tasks.csproj
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/BindingProject.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/Bug60536.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/Extensions/ExtensionTestBase.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/Extensions/WatchKit.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/NativeReferences.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/ProjectTest.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TargetTests/TargetTests.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TestHelpers/Logger.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TestHelpers/TestBase.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TestHelpers/TestEngine.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/Xamarin.iOS.Tasks.Tests.csproj
  msbuild/xbuild-in-place
  tests/Makefile
  tests/common/ExecutionHelper.cs
  tests/common/mac/ProjectTestHelpers.cs
  tests/common/mac/project_building.mk
  tests/mac-binding-project/Makefile
  tests/mmptest/Makefile
  tests/mmptest/regression/Makefile
  tests/mmptest/src/MMPTest.cs
  tests/mmptest/src/NetStandardTests.cs
  tests/mmptest/src/PackageReferenceTests.cs
  tests/msbuild-mac/src/MSBuild-Smoke.cs
  tests/msbuild-mac/src/RoslynSmokeTests.cs
  tests/msbuild-mac/src/RuntimeTests.cs
  tests/mtouch/Makefile
  tests/xharness/Jenkins.cs
  tests/xharness/MakefileGenerator.cs
  tests/xharness/ProjectFileExtensions.cs
Labels: enable-device-build, run-all-tests, skip-device-tests, skip-ios-device-tests

#5038 [tests] Only build exactly what's neded for running XM tests on older bots.
  tests/package-mac-tests.sh
Labels: build-package
