Repository dotnet/macios, pull requests merged in 2018-12, with the labels that each got.

#5218 Bump maccore.
  mk/xamarin.mk
Labels: skip-public-jenkins

#5225 Bump maccore.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5246 [CI] Add scripts to set github status from Azure DevOps (when running the device tests).
  jenkins/add-commit-comment.sh
  jenkins/add-commit-status.sh
  jenkins/vsts-device-tests-set-status.sh
Labels: skip-public-jenkins

#5253 [MachO] Add support for ARM64e and ARM64_32.
  tools/common/MachO.cs
Labels: skip-public-jenkins

#5182 [XHarness] Add support for xunit and nunit tests on Mac OS X.
  tests/Makefile
  tests/bcl-test/BCLTests/BCLTests-mac.csproj.in
  tests/bcl-test/BCLTests/Info-mac.plist.in
  tests/bcl-test/BCLTests/templates/common/ApplicationOptions.cs
  tests/bcl-test/BCLTests/templates/common/TestRunner.Core/LogWriter.cs
  tests/bcl-test/BCLTests/templates/common/TestRunner.Core/TcpTextWriter.cs
  tests/bcl-test/BCLTests/templates/common/TestRunner.xUnit/XUnitTestRunner.cs
  tests/bcl-test/BCLTests/templates/iOSApp/ViewController.cs
  tests/bcl-test/BCLTests/templates/macOS/Assert.cs
  tests/bcl-test/BCLTests/templates/macOS/MacTestMain.cs
  tests/xharness/BCLTestImporter/BCLTestImportTargetFactory.cs
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
  tests/xharness/MakefileGenerator.cs
  tests/xharness/ProjectFileExtensions.cs
  tools/bcl-test-importer/BCLTestImporter/ApplicationOptions.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestAssemblyDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestImporterTests/TestAssemblyDefinitionTest.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinitionWorkaround.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/Platform.cs
  tools/bcl-test-importer/BCLTestImporter/Program.cs
  tools/bcl-test-importer/BCLTestImporter/RegisterTypeGenerator.cs
Labels: run-bcl-tests

#5269 [jenkins] Specify repo manually for GitHub statuses to fix maccore#898.
  jenkins/utils.groovy
Labels: skip-public-jenkins

#5254 [builds] Consume llvm + cross compilers from mono's package.
  Make.config
  builds/Makefile
Labels: run-internal-tests, skip-public-jenkins

#5304 [jenkins] Improve rendering of failures on older macOS bots.
  jenkins/Jenkinsfile
Labels: run-internal-tests, skip-public-jenkins

#5301 [jenkins] Add links to the packages in the GitHub comment.
  jenkins/Jenkinsfile
Labels: build-package, skip-public-jenkins

#5297 [msbuild] Declare which frameworks XStaticArTest.framework and XStaticObjectTest.framework need.
  msbuild/tests/MyiOSFrameworkBinding/MyiOSFrameworkBinding.csproj
Labels: enable-device-build

#5298 [msbuild] Sleep before and after touching files on non-APFS file systems.
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/CodesignAppBundle.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/CoreMLCompiler.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/ReleaseBuild.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TargetTests/TargetTests.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TestHelpers/TestBase.cs
Labels: enable-device-build

#5312 [registrar] Throw EntryPointNotFoundException when generating P/Invoke wrappers for objc_msgSend*_stret on arm64. Fixes #5183.
  tools/common/StaticRegistrar.cs
Labels: enable-device-build

#5314 [d16-0] [foundation] Respect HttpClient.Timeout for NSUrlSessionHandler. Fix #5190
  src/Foundation/NSUrlSessionHandler.cs
Labels: do-not-merge
