Repository dotnet/macios, pull requests merged in 2018-03, with the labels that each got.

#3575 [MMP] Allow resolving assemblies to the ones passed in command line args
  tools/common/Application.cs
  tools/common/CoreResolver.cs
  tools/mmp/driver.cs
  tools/mmp/resolver.cs
Labels: run-mmp-tests

#3635 [msbuild] Use a response file in 'MTouchTaskBase'
  docs/website/mtouch-errors.md
  msbuild/Xamarin.MacDev.Tasks.Core/CommandLineArgumentBuilder.cs
  msbuild/Xamarin.iOS.Tasks.Core/Tasks/MTouchTaskBase.cs
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.Common.targets
  msbuild/tests/Xamarin.iOS.Tasks.Tests/TaskTests/MTouchTaskTests.cs
Labels: run-all-tests, skip-device-tests, skip-ios-device-tests

#3354 [msbuild] Always codesign libraries and frameworks
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.Common.targets
Labels: requires-approval-before-merge

#3710 [msbuild] Correctly determine whether Xamarin.Mac builds require a p…
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Common.targets
Labels: run-mmp-tests

#3754 [jenkins] Clean keystore on bots before running tests
  jenkins/run-tests.sh
Labels: run-bcl-tests

#3759 Reorganize MMP tests
  tests/mmptest/mmptest.csproj
  tests/mmptest/src/AOTTests.cs
  tests/mmptest/src/AssemblyReferencesTests.cs
  tests/mmptest/src/ClassicTests.cs
  tests/mmptest/src/ExtensionTests.cs
  tests/mmptest/src/FrameworkLinksTests.cs
  tests/mmptest/src/LinkerTests.cs
  tests/mmptest/src/MMPTest.cs
  tests/mmptest/src/NativeReferencesTests.cs
  tests/mmptest/src/NetStandardTests.cs
  tests/mmptest/src/RegistrarTests.cs
  tests/mmptest/src/SmokeTests.cs
Labels: run-mmp-tests

#3757 [mmp][mtouch] Better guard framework SDK checks
  docs/website/mmp-errors.md
  docs/website/mtouch-errors.md
  tests/common/Configuration.cs
  tests/mmptest/mmptest.csproj
  tests/mmptest/src/WarningTests.cs
  tools/common/Assembly.cs
Labels: run-mmp-tests, run-mtouch-tests

#3773 Move MM2100 to a 2109 as mtouch collided with it
  docs/website/mmp-errors.md
  tools/mmp/driver.cs
Labels: run-mmp-tests

#3733 [msbuild] Correctly determine whether Xamarin.Mac builds require a p…
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Common.targets
Labels: requires-approval-before-merge

#3796 [mmp][mtouch] Better guard framework SDK checks (#3757)
  docs/website/mmp-errors.md
  docs/website/mtouch-errors.md
  tests/common/Configuration.cs
  tests/mmptest/mmptest.csproj
  tests/mmptest/src/WarningTests.cs
  tools/common/Assembly.cs
Labels: run-mmp-tests, run-mtouch-tests

#3795 Binding project must use csc not mcs
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.ObjCBinding.CSharp.targets
  msbuild/Xamarin.MacDev.Tasks.Core/Tasks/BTouchTaskBase.cs
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.ObjCBinding.CSharp.targets
  src/btouch.cs
  tests/generator/BGenTests.cs
  tests/mmptest/src/BindingProjectTests.cs
Labels: run-mmp-tests, run-mtouch-tests
