Repository dotnet/macios, pull requests merged in 2018-08, with the labels that each got.

#4518 [jenkins] Abort any executing builds on internal jenkins when new builds are scheduled for pull requests.
  jenkins/Jenkinsfile
Labels: build-package, skip-public-jenkins

#4369 [jenkins] Implement support for slack notifications.
  jenkins/Jenkinsfile
Labels: build-package, run-internal-tests, skip-public-jenkins

#4555 Fix testing 32-bit XM apps. Fixes maccore issue 884.
  tests/apitest/src/EveryFrameworkSmokeTest.cs
  tests/common/TestRuntime.cs
  tests/introspection/Mac/MacApiProtocolTest.cs
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
  tests/xharness/Program.cs
  tools/mmp/driver.cs
Labels: run-all-tests, skip-device-tests, skip-ios-device-tests

#4562 [metal] Update for Xcode 10 beta 1, 2, 3 & 4
  src/Metal/Defs.cs
  src/Metal/MTLEnums.cs
  src/metal.cs
  tests/introspection/ApiSelectorTest.cs
  tests/introspection/iOS/iOSApiCtorInitTest.cs
  tests/monotouch-test/Metal/MTLIndirectCommandBufferDescriptorTest.cs
  tests/monotouch-test/Metal/MTLSharedEventListenerTest.cs
  tests/monotouch-test/Metal/MTLStageInRegionIndirectArgumentsTest.cs
  tests/monotouch-test/Metal/MTLTileRenderPipelineDescriptor.cs
  tests/xtro-sharpie/iOS-Metal.ignore
  tests/xtro-sharpie/iOS-Metal.todo
  tests/xtro-sharpie/macOS-Metal.ignore
  tests/xtro-sharpie/macOS-Metal.todo
  tests/xtro-sharpie/tvOS-Metal.ignore
  tests/xtro-sharpie/tvOS-Metal.todo
Labels: enable-device-build

#4637 Bump maccore to get fix for VSTS #616528.
  mk/xamarin.mk
Labels: build-package

#4647 Bump maccore to get fix for VSTS #616528.
  mk/xamarin.mk
Labels: build-package

#4646 [jenkins] Improve error reporting a bit.
  jenkins/Jenkinsfile
Labels: run-internal-tests, skip-public-jenkins

#4677 [introspection] Fix typo test on Mojave.
  tests/introspection/ApiTypoTest.cs
Labels: run-internal-tests

#4701 [tests] Update MT4134 with new iOS 12 frameworks. Fixes maccore#954.
  tests/mtouch/RegistrarTest.cs
Labels: run-internal-tests

#4699 Document how to run API comparison locally.
  jenkins/compare.sh
Labels: skip-all-tests

#4703 [makefile] Fix 'buildinfo' branch name on jenkins
  Make.config
Labels: build-package, skip-all-tests
