Repository dotnet/macios, pull requests merged in 2018-07, with the labels that each got.

#4444 [PDFkit] Fix kPDFDestinationUnspecifiedValue availability
  src/pdfkit.cs
Labels: run-internal-tests

#4470 [WIP][CoreMidi] Xcode 10 beta 3 update.
  src/CoreMidi/MidiCIDeviceIdentification.cs
  src/CoreMidi/MidiServices.cs
  src/coremidi.cs
  src/frameworks.sources
  tests/xtro-sharpie/iOS-CoreMIDI.ignore
  tests/xtro-sharpie/iOS-CoreMIDI.todo
  tests/xtro-sharpie/macOS-CoreMIDI.ignore
  tests/xtro-sharpie/macOS-CoreMIDI.todo
Labels: run-mtouch-tests

#4447 Include libmono-system-native on Xamarin.Mac
  builds/Makefile
  tests/mmptest/src/LinkerTests.cs
  tools/mmp/driver.cs
Labels: run-bcl-tests
