Repository dotnet/macios, pull requests merged in 2018-06, with the labels that each got.

#4159 Add support for building on Jenkins.
  Make.config
  Makefile
  jenkins/Jenkinsfile
  jenkins/build-api-diff.sh
  jenkins/build-package.sh
  jenkins/build.sh
  jenkins/compare.sh
  jenkins/productsign.sh
  jenkins/publish-results.sh
  jenkins/run-tests.sh
  jenkins/utils.groovy
Labels: build-package

#4180 Add support for building on Jenkins. (#4159)
  Make.config
  Makefile
  jenkins/Jenkinsfile
  jenkins/build-api-diff.sh
  jenkins/build-package.sh
  jenkins/build.sh
  jenkins/compare.sh
  jenkins/productsign.sh
  jenkins/publish-results.sh
  jenkins/run-tests.sh
  jenkins/utils.groovy
Labels: build-package

#4222 [xharness] Check the right (unpaired) device when determining whether a new watch device must be created or not.
  tests/xharness/Simulators.cs
Labels: build-package

#4224 Cherry-pick changes from master to implement support for building on internal Jenkins.
  Make.config
  Makefile
  jenkins/.gitignore
  jenkins/Jenkinsfile
  jenkins/Makefile
  jenkins/build-api-diff.sh
  jenkins/build-package.sh
  jenkins/build.sh
  jenkins/compare.sh
  jenkins/fetch-pr-labels.sh
  jenkins/productsign.sh
  jenkins/provision-deps.sh
  jenkins/publish-results.sh
  jenkins/run-tests.sh
  jenkins/utils.groovy
  mk/xamarin-reset.sh
  mk/xamarin.mk
  msbuild/tests/Xamarin.iOS.Tasks.Tests/ProjectsTests/CodesignAppBundle.cs
  system-dependencies.sh
  tests/xharness/Harness.cs
  tests/xharness/MacClassicTarget.cs
  tests/xharness/MacTarget.cs
  tests/xharness/MacUnifiedTarget.cs
  tests/xharness/MakefileGenerator.cs
Labels: build-package

#4270 [xharness] Fix publishing xtro's html report.
  tests/xharness/Jenkins.cs
Labels: run-xtro-tests

#4272 [runtime] Use public mono API to set the pending exception. Fixes #4271.
  runtime/exports.t4
  runtime/mono-runtime.m.t4
  runtime/runtime.m
Labels: enable-device-build, run-all-tests, skip-device-tests, skip-ios-device-tests

#4283 [xcode10][jenkins] Make the Jenkins-built packages the official ones.
  jenkins/Jenkinsfile
Labels: build-package, skip-all-tests

#4334 [jenkins] Make it possible to run internal jenkins tests on pull requests.
  jenkins/Jenkinsfile
Labels: run-internal-tests

#4356 Added: missing link color
  src/appkit.cs
Labels: run-xtro-tests

#4353 Fix xtro-sharpie 10.13 vs 10.14 issue
  tests/xtro-sharpie/Log.cs
  tests/xtro-sharpie/common-PDFKit.todo
  tests/xtro-sharpie/iOS-PDFKit.todo
  tests/xtro-sharpie/macOS-CoreMIDI.todo
  tests/xtro-sharpie/macOS-CoreWLAN.todo
  tests/xtro-sharpie/macOS-PDFKit.todo
  tests/xtro-sharpie/xtro-sharpie.csproj
Labels: run-xtro-tests

#4312 [runtime] Always release blocks on the main thread. Fixes #4130.
  runtime/runtime.m
  runtime/xamarin/runtime.h
  src/ObjCRuntime/Runtime.cs
  src/generator.cs
  tests/bindings-test/ApiDefinition.cs
  tests/bindings-test/RuntimeTest.cs
  tests/test-libraries/libtest.h
  tests/test-libraries/libtest.m
  tests/test-libraries/rename.h
  tests/xtro-sharpie/common-ObjCRuntime.ignore
Labels: build-package
