Repository dotnet/macios, pull requests merged in 2019-04, with the labels that each got.

#5834 [makefile] Update pkg version to 12.8/5.8
  Make.versions
Labels: skip-all-tests

#5848 [XHarness] Ignore a failing test on devices.
  tests/bcl-test/BCLTests/common-monotouch_System_test.dll.ignore
Labels: run-bcl-tests

#5858 [XHarness] Ignore tests that fail on device.
  tests/bcl-test/BCLTests/common-monotouch_Microsoft.CSharp_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_System.Core_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_System.Numerics_xunit-test.dll.ignore
Labels: run-bcl-tests

#5869 [XHarness] Ignore monotouch_Microsoft.CSharp_xunit-test.dll until issue 5868 is fixed.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5857 [d16-1] Allow for current VS stable.
  Make.config
Labels: pr-change-not-shipping

#5877 [tests][mono-native] Adjust logic which is causing tests to fail on tvOS.
  tests/mono-native/Introspection.cs
Labels: run-internal-tests, skip-public-jenkins

#5862 Add macOS Xcode archive support
  msbuild/Xamarin.Mac.Tasks.Core/Tasks/ArchiveTaskBase.cs
  msbuild/Xamarin.Mac.Tasks.Core/Xamarin.Mac.Tasks.Core.csproj
  msbuild/Xamarin.Mac.Tasks/Tasks/Archive.cs
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Common.props
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Common.targets
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Tasks.csproj
  msbuild/Xamarin.MacDev.Tasks.Core/Tasks/ArchiveTaskBase.cs
  msbuild/Xamarin.iOS.Tasks.Core/Tasks/ArchiveTaskBase.cs
  tests/common/mac/ProjectTestHelpers.cs
  tests/mmptest/src/MMPTest.cs
Labels: community

#5851 [apidiff] Update the references (URL) to 16.0 final releases
  Make.config
Labels: pr-change-not-shipping

#5912 [msbuild][mac] Fix forcing provisioning profile when entitlements set
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac.Common.targets
Labels: msbuild, run-mmp-tests

#5930 [d16-0] [UIKit] Don't crash if UIGestureRecognizer.Dispose is called multiple times. Fixes #5899.
  src/UIKit/UIGestureRecognizer.cs
  tests/monotouch-test/UIKit/GestureRecognizerTest.cs
Labels: requires-approval-before-merge

#5870 [tests] Add sample tester.
  jenkins/Jenkinsfile
  jenkins/build.sh
  mk/xamarin.mk
  tests/common/Configuration.cs
  tests/common/ExecutionHelper.cs
  tests/sampletester/.gitignore
  tests/sampletester/BaseTester.cs
  tests/sampletester/Configuration.cs
  tests/sampletester/GitHub.cs
  tests/sampletester/HtmlReport.xslt
  tests/sampletester/Makefile
  tests/sampletester/ProcessHelper.cs
  tests/sampletester/Properties/AssemblyInfo.cs
  tests/sampletester/README.md
  tests/sampletester/SampleTester.cs
  tests/sampletester/Samples.cs
  tests/sampletester/TestPlatform.cs
  tests/sampletester/images/provision_from_commit.png
  tests/sampletester/packages.config
  tests/sampletester/sampletester.csproj
  tests/sampletester/sampletester.sln
  tests/tests.sln
  tests/xharness/Jenkins.cs
  tools/devops/build-samples-report-to-github.sh
  tools/devops/build-samples.csx
  tools/devops/build-samples.sh
  tools/devops/build-samples.yml
  tools/devops/fetch-maccore.sh
  tools/devops/system-info.sh
  tools/devops/utils.csx
Labels: run-internal-tests, run-sample-tests, skip-all-tests, skip-public-jenkins

#5949 [d16-1] Remove private API
  src/CloudKit/CKCompat.cs
  src/CoreAnimation/CACompat.cs
  src/CoreBluetooth/CBCompat.cs
  src/GameKit/GKCompat.cs
  src/GameplayKit/GKCompat.cs
  src/MetalPerformanceShaders/MPSCompat.cs
  src/PdfKit/PdfCompat.cs
  src/UIKit/Compat.cs
  src/Vision/VNCompat.cs
  src/avfoundation.cs
  src/cloudkit.cs
  src/coreanimation.cs
  src/corebluetooth.cs
  src/frameworks.sources
  src/gamekit.cs
  src/gameplaykit.cs
  src/metalperformanceshaders.cs
  src/pdfkit.cs
  src/vision.cs
  src/xkit.cs
  tests/monotouch-test/CoreAnimation/EmitterBehaviorTest.cs
  tests/xtro-sharpie/common-AVFoundation.ignore
Labels: requires-approval-before-merge

#5960 [builds] Fix race condition when building device runtimes.
  builds/Makefile
  jenkins/build.sh
Labels: enable-device-build, skip-all-tests

#5962 [builds] Make the tools build use mono's packaged logic instead of our own.
  Make.config
  builds/Makefile
  src/Makefile
  src/OpenGLES/Makefile-1.0.include
  tools/apidiff/Makefile
Labels: skip-api-comparison
