Repository dotnet/macios, pull requests merged in 2019-03, with the labels that each got.

#5686 [XHarness] Reneable the System.Transaction tests on Mac OS X.
  tests/bcl-test/BCLTests/macOSModern-SystemTransactionsTests.ignore
  tests/bcl-test/BCLTests/templates/macOS/MacTestMain.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5694 [XHarness] Reenable the System.IO.Compression and System.IO.Compression.FileSystem tests on mac os x.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5697 [Xharness] Reenable System.Data.Sqlite tests on mac os x.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinitionWorkaround.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/RegisterTypeGenerator.cs
Labels: run-bcl-tests

#5682 Bump maccore to get mlaunch improvements.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5696 [XHarness] Reenable MonoCSharpTests on mac os x.
  tests/bcl-test/BCLTests/macOS-MonoCSharpTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5709 [Xharness] Reenable the xunit based System.Data tests on mac os x.
  tests/bcl-test/BCLTests/macOS-SystemDataXunit.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5708 [XHarness] Re-enable SystemIdentityModelTests on mac os x.
  tests/bcl-test/BCLTests/macOS-SystemIdentityModelTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5711 [Xharness] Reenable MonoPoxis tests on mac os x.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5713 [tests] Adjust system check when running tests on older macOS versions (we don't need simulators)
  jenkins/prepare-packaged-macos-tests.sh
Labels: run-internal-tests, skip-public-jenkins

#5706 Fix build failure when dsym generation is disabled
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.Common.targets
Labels: community

#5678 [d16-0] [xm][msbuild] Fix full profile FrameworkList file
  msbuild/Makefile
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac-Full-FrameworkList.xml.in
  msbuild/Xamarin.Mac.Tasks/Xamarin.Mac-Mobile-FrameworkList.xml.in
  msbuild/tests/Xamarin.iOS.Tasks.Tests/FrameworkListTest.cs
Labels: requires-approval-before-merge

#5718 Add Additional Metadata Generation During Builds
  jenkins/Jenkinsfile
Labels: run-internal-tests, skip-public-jenkins

#5702 [XHarness] Reenable the System.Configuration tests on mac os x.
  tests/bcl-test/BCLTests/macOSFull-SystemConfigurationTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5727 Bump maccore to get update to bot provisioning.
  jenkins/prepare-packaged-macos-tests.sh
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5735 [Xharness] Reenable the SystemXml tests on mac os x.
  tests/bcl-test/BCLTests/macOSFull-SystemXmlTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5743 [XHarness] Reenable the System.Core tests on mac os x.
  tests/bcl-test/BCLTests/macOSModern-SystemCoreTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5745 [tests] Check all architectures when verifying public symbols.
  tests/mtouch/MTouchTool.cs
  tests/mtouch/MiscTests.cs
Labels: enable-device-build

#5752 [XHarness] Fix the hostname parsing on devices.
  tests/bcl-test/BCLTests/templates/common/TestRunner.Core/TcpTextWriter.cs
Labels: run-bcl-tests

#5751 [XHarness] Reneable System.Security nunit tests on mac os x.
  tests/bcl-test/BCLTests/macOS-SystemSecurityTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5748 Bump maccore to get new mlaunch location.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5749 [XHarness] Reenable the NUnit System.Data tests on mac os x.
  tests/bcl-test/BCLTests/macOSFull-SystemDataTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5758 Bump maccore to get provisioning fixes.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5777 [d16-1] Bump maccore to get provisioning fixes
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5768 [XHarness] Reduce the number of test applications for the BCL tests.
  tests/bcl-test/BCLTests/common-monotouch_System.Core_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_System.Data_test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_System.Net.Http_test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_System.Web.Services_test.dll.ignore
  tests/bcl-test/BCLTests/iOS-monotouch_Microsoft.CSharp_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/iOS-monotouch_System.Data_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_Mono.CSharp_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.Data_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.IdentityModel_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.Security_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.ServiceModel_test.dll.ignore
  tests/bcl-test/BCLTests/macOSFull-xammac_net_4_5_System.Configuration_test.dll.ignore
  tests/bcl-test/BCLTests/macOSFull-xammac_net_4_5_System.Data_test.dll.ignore
  tests/bcl-test/BCLTests/macOSFull-xammac_net_4_5_System.Xml_test.dll.ignore
  tests/bcl-test/BCLTests/macOSModern-xammac_net_4_5_System.Core_test.dll.ignore
  tests/bcl-test/BCLTests/macOSModern-xammac_net_4_5_System.Transactions_test.dll.ignore
  tests/bcl-test/BCLTests/tvOS-monotouch_Microsoft.CSharp_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/tvOS-monotouch_System.Data_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/tvOS-monotouch_System_test.dll.ignore
  tests/bcl-test/BCLTests/tvOS-monotouch_corlib_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_Microsoft.CSharp_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_Mono.Data.Tds_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_Mono.Security_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_System.Data_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_System.Data_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_System.Net.Http_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_System.ServiceModel.Web_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_System_test.dll.ignore
  tests/bcl-test/BCLTests/watchOS-monotouch_corlib_test.dll.ignore
  tests/xharness/BCLTestImporter/BCLTestImportTargetFactory.cs
  tests/xharness/Harness.cs
  tests/xharness/TestProject.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinitionWorkaround.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/RegisterTypeGenerator.cs
Labels: run-bcl-tests

#5783 Bump maccore for a provisioning fix.
  jenkins/prepare-packaged-macos-tests.sh
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#5794 [XHarness] Make TvOS and WatchOS use their test dlls.
  tools/bcl-test-importer/BCLTestImporter/BCLTestAssemblyDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5803 Backport device bcl tests
  tests/bcl-test/BCLTests/templates/common/TestRunner.Core/TcpTextWriter.cs
Labels: run-bcl-tests

#5807 Ignore tests for devices
  tests/bcl-test/BCLTests/common-monotouch_Microsoft.CSharp_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/common-monotouch_corlib_test.dll.ignore
Labels: run-bcl-tests

#5813 [xharness] Fix BuildOnly logic
  tests/xharness/Jenkins.cs
Labels: run-device-tests, skip-simulator-tests
