Repository dotnet/macios, pull requests merged in 2019-01, with the labels that each got.

#5326 [d16-0] [foundation] Fix ICE in NSUrlSessionHandler.CreateConfig on macOS 10.9. Fixes #5309
  src/Foundation/NSUrlSessionHandler.cs
Labels: requires-approval-before-merge

#5295 [tests] Add test to ensure LLVM succeeds on watchOS for every assembly we ship.
  tests/mtouch/Makefile
  tests/mtouch/SdkTest.cs
  tests/xharness/Jenkins.cs
Labels: enable-device-build

#5224 [xibuild] Add support for /verbose, and use it accordingly.
  Make.config
  mk/quiet.mk
  tests/Makefile
  tests/mtouch/Makefile
  tests/xtro-sharpie/Makefile
  tools/xibuild/Main.cs
Labels: run-internal-tests, skip-public-jenkins

#5372 [tests] Run tests-docs using xharness.
  jenkins/Jenkinsfile
  tests/Makefile
  tests/xharness/GitHub.cs
  tests/xharness/Harness.cs
  tests/xharness/Jenkins.cs
Labels: skip-public-jenkins

#5328 [d15-9][mmp] Add support for mono 5.18 by pulling in libmono-system-native.a
  tools/mmp/driver.cs
Labels: requires-approval-before-merge

#5380 [xharness] Add support for GitHub authentication, and use it in Jenkins.
  jenkins/Jenkinsfile
  tests/xharness/GitHub.cs
Labels: skip-public-jenkins

#5395 [XHarness] Reenable SystemLinqXunit on watchOS and TvOS.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5410 [XHarness] Reneable the SystemSecurity tests on iOS, TvOS and WatchOS
  tests/bcl-test/BCLTests/common-SystemSecurityXunit.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5412 [XHarness] Reneable Mono.Security tests on WatchOS.
  tests/bcl-test/BCLTests/watchOS-MonoSecurityTests.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#5422 Bump maccore to get several CI fixes.
  mk/xamarin.mk
Labels: pr-change-not-shipping, requires-approval-before-merge, skip-public-jenkins

#5435 [tests] Adjust DispatchBlock tests according to minimum OS.
  tests/monotouch-test/CoreFoundation/DispatchBlockTests.cs
  tests/monotouch-test/CoreFoundation/DispatchGroupTest.cs
  tests/monotouch-test/CoreFoundation/DispatchQueueTest.cs
Labels: run-internal-tests, skip-public-jenkins

#5413 [d16-0 P3][msbuild/tests] Ensure our FrameworkList files have correct assemblies (#5367)
  msbuild/Xamarin.Mac.Tasks/FrameworkList.xml.in
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.TVOS-FrameworkList.xml.in
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.WatchOS-FrameworkList.xml.in
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS-FrameworkList.xml.in
  msbuild/tests/Xamarin.iOS.Tasks.Tests/FrameworkListTest.cs
  msbuild/tests/Xamarin.iOS.Tasks.Tests/Xamarin.iOS.Tasks.Tests.csproj
Labels: requires-qa-before-merge

#5458 [XHarness] Clean the System.Data ignore.
  tests/bcl-test/BCLTests/common-SystemDataTests.ignore
Labels: run-bcl-tests

#5456 [XHarness] Remove not needed ignore file for System.Core.
  tests/bcl-test/BCLTests/common-SystemCoreTests.ignore
Labels: run-bcl-tests

#5455 [XHarness] Add XUnit category filtering.
  tests/bcl-test/BCLTests/templates/common/TestRunner.Core/TestRunner.cs
  tests/bcl-test/BCLTests/templates/common/TestRunner.NUnit/NUnitTestRunner.cs
  tests/bcl-test/BCLTests/templates/common/TestRunner.xUnit/XUnitTestRunner.cs
  tests/bcl-test/BCLTests/templates/iOSApp/ViewController.cs
  tests/bcl-test/BCLTests/templates/macOS/MacTestMain.cs
  tests/bcl-test/BCLTests/templates/tvOSApp/ViewController.cs
  tests/bcl-test/BCLTests/templates/watchOS/Extension/InterfaceController.cs
Labels: run-bcl-tests

#5492 [msbuild] Fixes Microsoft.NET.Build.Extensions.Tasks.dll path
  msbuild/Xamarin.iOS.Tasks.Core/Xamarin.iOS.Common.targets
Labels: requires-approval-before-merge
