Repository dotnet/macios, pull requests merged in 2019-05, with the labels that each got.

#5969 Bump maccore to get fix for #5888.
  mk/xamarin.mk
  tools/common/MachO.cs
Labels: run-internal-tests, skip-public-jenkins

#5982 [msbuild] Add CoreLocation to the frameworks needed in MyiOSFrameworkBinding. Fixes #5974.
  msbuild/tests/MyiOSFrameworkBinding/MyiOSFrameworkBinding.csproj
Labels: enable-device-build

#5966 [d16-2] Fix/improve marshalling of out/ref parameters, arrays, Classes and Selectors. Fixes #5171.
  docs/website/generator-errors.md
  docs/website/mmp-errors.md
  docs/website/mtouch-errors.md
  msbuild/tests/MyiOSFrameworkBinding/MyiOSFrameworkBinding.csproj
  runtime/trampolines-invoke.m
  runtime/trampolines.m
  runtime/xamarin/trampolines.h
  src/generator.cs
  tests/bindings-framework-test/XTest.framework.linkwith.cs
  tests/bindings-test/bindings-test-mac.csproj
  tests/bindings-test/bindings-test.csproj
  tests/bindings-test/libtest.linkwith.cs
  tests/generator/BGenTests.cs
  tests/generator/ErrorTests.cs
  tests/generator/generator-tests.csproj
  tests/generator/tests/ref-out-parameters.cs
  tests/monotouch-test/ObjCRuntime/Messaging.cs
  tests/monotouch-test/ObjCRuntime/RegistrarTest.cs
  tests/monotouch-test/ObjCRuntime/RuntimeTest.cs
  tests/monotouch-test/monotouch-test.csproj
  tests/mtouch/RegistrarTest.cs
  tests/test-libraries/libtest.h
  tests/test-libraries/libtest.m
  tests/test-libraries/rename.h
  tests/xharness/Jenkins.cs
  tools/common/StaticRegistrar.cs
Labels: enable-device-build

#5984 Add more details to MSBuild errors for provisioning profiles
  msbuild/Xamarin.MacDev.Tasks.Core/Tasks/DetectSigningIdentityTaskBase.cs
Labels: community

#6017 [d16-2] [sampletester] Bump prebuilt-apps hash.
  tests/sampletester/Samples.cs
Labels: pr-change-not-shipping

#6025 [d16-2] [xharness] Fix finding labels in pull requests.
  tests/xharness/GitHub.cs
Labels: pr-change-not-shipping, skip-ios-tests

#6058 [d16-2] [linker] Add the custom attributes removal step as an configurable optimization. Fix #3655
  docs/website/optimizations.md
  tests/mmptest/src/MMPTest.cs
  tests/mtouch/MTouch.cs
  tools/common/Optimizations.cs
  tools/mmp/Tuning.cs
  tools/mtouch/Tuning.cs
Labels: requires-approval-before-merge

#6066 [xharness] 'Skipped' really meant 'DeviceNotFound', so rename things to avoid confusion.
  tests/xharness/Jenkins.cs
Labels: run-device-tests

#6061 [sample tests] Fix variable calculation to calculate once.
  tests/sampletester/Makefile
Labels: build-package, run-sample-tests, skip-all-tests, skip-public-jenkins

#6071 [d16-2] [xharness] Don't run monotouch-test/interpreter for now.
  tests/xharness/Jenkins.cs
Labels: pr-change-not-shipping

#6070 [d16-2] [xharness] "Skipped" really meant "DeviceNotFound", so rename things to avoid confusion.
  tests/xharness/Jenkins.cs
Labels: pr-change-not-shipping

#6055 [XHarness] Do use the test dlls from the mono downloads.
  jenkins/Jenkinsfile
  tests/Makefile
  tests/bcl-test/BCLTests/BCLTests-mac.csproj.in
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_Mono.CSharp_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.Core_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System.Net.Http.UnitTests_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_System_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_corlib_test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_corlib_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOSModern-xammac_net_4_5_System.Core_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOSModern-xammac_net_4_5_System_xunit-test.dll.ignore
  tests/xharness/BCLTestImporter/BCLTestImportTargetFactory.cs
  tests/xharness/Harness.cs
  tests/xharness/xharness.csproj
  tools/bcl-test-importer/BCLTestImporter/BCLTestAssemblyDefinition.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestImporter.csproj
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectDefinitionWorkaround.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/RegisterTypeGenerator.cs
Labels: run-bcl-tests

#6084 [apidiff] Fix a few issues with the apidiff when the mono hash or api diff url changes.
  tools/apidiff/.gitignore
  tools/apidiff/Makefile
  tools/compare-commits.sh
Labels: skip-all-tests

#6099 [XHarness] Improve xml parsing. Fixes #6072
  tests/bcl-test/BCLTests/iOS-monotouch_corlib_xunit-test.dll.ignore
  tests/xharness/AppRunner.cs
Labels: run-bcl-tests

#6110 [d16-2] [foundation] Add custom trust/certificate validation to NSUrlSessionHandler. Fix #4170
  src/Foundation/NSUrlSessionHandler.cs
  tests/introspection/ApiFrameworkTest.cs
  tests/monotouch-test/System.Net.Http/MessageHandlers.cs
Labels: requires-approval-before-merge

#6093 [XHarness] Fix mtouch tests to use the new style bcl tests.
  tests/common/ExecutionHelper.cs
  tests/mtouch/MTouch.cs
Labels: enable-device-build, run-mtouch-tests

#6121 [XHarness] Re-enable corlib tests on Mac Full and Modern
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_corlib_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOSModern-xammac_net_4_5_corlib_xunit-test.dll.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#6111 [d16-2] [Jenkins] Do not run device tests in the internal jenkins instance.
  tests/Makefile
Labels: pr-change-not-shipping

#6118 [d16-2] [xharness] Don't use a dash in the bundle identifer for watchOS projects.
  tests/monotouch-test/CoreFoundation/BundleTest.cs
  tests/xharness/WatchOSTarget.cs
Labels: pr-change-not-shipping

#6132 [XHarness] Ignore a number of assemblies that do not have any tests.
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#6142 [XHarness] Ignore threadpool tests that make tests deadlock.
  tests/bcl-test/BCLTests/common-monotouch_corlib_xunit-test.dll.ignore
  tests/bcl-test/BCLTests/macOS-xammac_net_4_5_corlib_xunit-test.dll.ignore
Labels: run-bcl-tests

#6143 [Harness] Pass extra arguments to configure the linker for certain tests
  tests/bcl-test/BCLTests/SystemXunitLinker.xml
  tests/xharness/Harness.cs
  tests/xharness/MakefileGenerator.cs
  tests/xharness/Program.cs
  tests/xharness/SolutionGenerator.cs
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#6146 Add symlink that points to current mono sdks dir
  builds/.gitignore
  builds/Makefile
  mk/xamarin.mk
  src/generator.csproj
  tools/mmp/mmp.csproj
  tools/mtouch/mtouch.csproj
Labels: run-bcl-tests

#6161 [XHarness] Do clean after mtouch build tests.
  tests/common/ExecutionHelper.cs
Labels: run-mtouch-tests

#6170 [tests] Run tests on watchOS in a background thread.
  tests/templates/WatchExtension/InterfaceController.cs
Labels: run-bcl-tests

#6176 Bump maccore.
  mk/xamarin.mk
Labels: run-internal-tests, skip-public-jenkins

#6174 [XHarness] Re-enable tvOS tests.
  tests/bcl-test/BCLTests/BCLTests-tv.csproj.in
  tests/bcl-test/BCLTests/Info-tv.plist.in
  tests/bcl-test/BCLTests/tvOS-monotouch_corlib_xunit-test.dll.ignore
  tools/bcl-test-importer/BCLTestImporter/BCLTestProjectGenerator.cs
Labels: run-bcl-tests

#6186 [sampletester] Bump xamarin-forms-book-samples to the tip of master, where a few fixes have been merged.
  tests/sampletester/Samples.cs
Labels: build-package, run-sample-tests, skip-all-tests, skip-public-jenkins

#6185 [sampletester] Use dotnet v2.2.1XX if available.
  tests/sampletester/Configuration.cs
Labels: build-package, run-sample-tests, skip-all-tests, skip-public-jenkins
