Repository dotnet/macios, changes with the owners that CODEOWNERS names for each.
All owners: @rolfbjarne, @spouliot, @kzu, @jstedfast, @emaf, @VincentDondain, @dalexsoto, @chamons, @timrisi, @mandel-macaque, @rolf, @abock

CODEOWNERS:

# Xamarin.iOS/Mac Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/builds @rolfbjarne

/docs @spouliot

/mk @rolfbjarne

/msbuild @kzu @jstedfast @emaf @rolfbjarne @VincentDondain

/runtime @rolfbjarne

/src/AddressBook @dalexsoto
/src/addressbook.cs @dalexsoto
/src/AppKit @chamons @timrisi
/src/appkit.cs @chamons @timrisi
/src/ARKit @VincentDondain
/src/arkit.cs @VincentDondain
/src/AudioToolbox @dalexsoto
/src/audiotoolbox.cs @dalexsoto
/src/AudioUnit @dalexsoto
/src/audiounit.cs @dalexsoto
/src/AVFoundation @mandel-macaque @dalexsoto
/src/avfoundation.cs @mandel-macaque @dalexsoto
/src/AVKit @spouliot @dalexsoto
/src/avkit.cs @spouliot @dalexsoto
/src/CallKit @dalexsoto
/src/callkit.cs @dalexsoto
/src/CFNetwork @spouliot
/src/cfnetwork.cs @spouliot
/src/CloudKit @mandel-macaque
/src/cloudkit.cs @mandel-macaque
/src/Contacts @dalexsoto @spouliot
/src/contacts.cs @dalexsoto @spouliot
/src/CoreAudio @dalexsoto
/src/coreaudio.cs @dalexsoto
/src/CoreBluetooth @VincentDondain @dalexsoto
/src/corebluetooth.cs @VincentDondain @dalexsoto
/src/CoreData @mandel-macaque
/src/coredata.cs @mandel-macaque
/src/CoreFoundation @rolfbjarne @spouliot
/src/corefoundation.cs @rolfbjarne @spouliot
/src/CoreGraphics @spouliot
/src/coregraphics.cs @spouliot
/src/CoreImage @spouliot
/src/coreimage.cs @spouliot
/src/CoreLocation @dalexsoto @spouliot
/src/corelocation.cs @dalexsoto @spouliot
/src/CoreMedia @dalexsoto
/src/coremedia.cs @dalexsoto
/src/CoreMIDI @dalexsoto
/src/coremidi.cs @dalexsoto
/src/CoreML @dalexsoto
/src/coreml.cs @dalexsoto
/src/CoreMotion @spouliot
/src/coremotion.cs @spouliot
/src/CoreSpotlight @dalexsoto @spouliot
/src/corespotlight.cs @dalexsoto @spouliot
/src/CoreTelephony @spouliot
/src/coretelephony.cs @spouliot
/src/CoreText @VincentDondain
/src/coretext.cs @VincentDondain
/src/CoreVideo @dalexsoto @spouliot @rolfbjarne
/src/corevideo.cs @dalexsoto @spouliot @rolfbjarne
/src/EventKit @dalexsoto @spouliot
/src/eventkit.cs @dalexsoto @spouliot
/src/ExternalAccessory @dalexsoto @spouliot
/src/externalaccessory.cs @dalexsoto @spouliot
/src/Foundation @spouliot @rolfbjarne @chamons
/src/foundation.cs @spouliot @rolfbjarne @chamons
/src/GameController @VincentDondain @spouliot
/src/gamecontroller.cs @VincentDondain @spouliot
/src/GameKit @VincentDondain
/src/gamekit.cs @VincentDondain
/src/GameplayKit @dalexsoto
/src/gameplaykit.cs @dalexsoto
/src/generator* @dalexsoto @spouliot @rolf @VincentDondain
/src/GLKit @dalexsoto @spouliot
/src/glkit.cs @dalexsoto @spouliot
/src/HealthKit @VincentDondain
/src/healthkit.cs @VincentDondain
/src/HomeKit @VincentDondain
/src/homekit.cs @VincentDondain
/src/iad.cs @spouliot
/src/iAd.framework @spouliot
/src/ImageIO @spouliot
/src/imageio.cs @spouliot
/src/Intents @dalexsoto
/src/intents.cs @dalexsoto
/src/IntentsUI @dalexsoto
/src/intentsui.cs @dalexsoto
/src/JavaScriptCore @rolfbjarne
/src/javascriptcore.cs @rolfbjarne
/src/LocalAuthentication @spouliot
/src/localauthentication.cs @spouliot
/src/MapKit @spouliot
/src/mapkit.cs @spouliot
/src/MediaPlayer @VincentDondain
/src/mediaplayer.cs @VincentDondain
/src/Messages @VincentDondain
/src/messages.cs @VincentDondain
/src/MessageUI @VincentDondain
/src/messageui.cs @VincentDondain
/src/Metal @mandel-macaque
/src/metal.cs @mandel-macaque
/src/MetalKit @spouliot
/src/metalkit.cs @spouliot
/src/MetalPerformanceShaders @spouliot
/src/metalperformanceshaders.cs @spouliot
/src/MobileCoreServices @spouliot
/src/mobilecoreservices.cs @spouliot
/src/ModelIO @VincentDondain
/src/modelio.cs @VincentDondain
/src/MultipeerConnectivity @spouliot
/src/multipeerconnectivity.cs @spouliot
/src/NetworkExtension @spouliot
/src/networkextension.cs @spouliot
/src/NotificationCenter @spouliot
/src/notificationcenter.cs @spouliot
/src/OpenGLES @spouliot
/src/opengles.cs @spouliot
/src/PassKit @spouliot
/src/passkit.cs @spouliot
/src/Photos @dalexsoto @spouliot
/src/photos.cs @dalexsoto @spouliot
/src/PhotosUI @dalexsoto @spouliot
/src/photosui.cs @dalexsoto @spouliot
/src/PushKit @dalexsoto @spouliot
/src/pushkit.cs @dalexsoto @spouliot
/src/QuartzCore @spouliot
/src/quartzcore.cs @spouliot
/src/QuickLook @spouliot
/src/quicklook.cs @spouliot
/src/ReplayKit @spouliot
/src/replaykit.cs @spouliot
/src/SafariServices @timrisi
/src/safariservices.cs @timrisi
/src/SceneKit @dalexsoto @VincentDondain
/src/scenekit.cs @dalexsoto @VincentDondain
/src/Security @dalexsoto @spouliot
/src/security.cs @dalexsoto @spouliot
/src/Speech @dalexsoto
/src/speech.cs @dalexsoto
/src/SpriteKit @VincentDondain
/src/spritekit.cs @VincentDondain
/src/SystemConfiguration @spouliot
/src/systemconfiguration.cs @spouliot
/src/UIKit @dalexsoto @spouliot @rolfbjarne @VincentDondain
/src/uikit.cs @dalexsoto @spouliot @rolfbjarne @VincentDondain
/src/UserNotifications @dalexsoto
/src/usernotifications.cs @dalexsoto
/src/UserNotificationsUI @dalexsoto
/src/usernotificationsui.cs @dalexsoto
/src/VideoSubscriberAccount @dalexsoto
/src/videosubscriberaccount.cs @dalexsoto
/src/VideoToolbox @spouliot
/src/videotoolbox.cs @spouliot
/src/Vision @dalexsoto
/src/vision.cs @dalexsoto
/src/WatchConnectivity @spouliot @rolfbjarne
/src/watchconnectivity.cs @spouliot @rolfbjarne
/src/WatchKit @spouliot @rolf
/src/watchkit.cs @spouliot @rolf
/src/WebKit @chamons
/src/webkit.cs @chamons
/src/WKWebKit @spouliot
/src/wkwebkit.cs @spouliot

/tests/xharness @rolfbjarne
/tests/xtro-sharpie @spouliot

/tools/common @rolfbjarne @chamons @spouliot
/tools/common/StaticRegistrar.cs @rolfbjarne
/tools/linker @spouliot
/tools/mmp @chamons
/tools/mtouch @spouliot @rolfbjarne
/tools/pmcs @abock

configure @rolfbjarne
Make.* @rolfbjarne
Makefile @rolfbjarne
system-dependencies.sh @rolfbjarne

Revert "Search 1"
  NuGet.config
Owners: none

Search 2
  NuGet.config
Owners: none

[Rgen] Ensure transformer tests can build with missing platforms.
  tests/rgen/Microsoft.Macios.Transformer.Tests/Microsoft.Macios.Transformer.Tests.csproj
Owners: none

[BGen] Remove support for the System.Drawing objects.
  src/bgen/Generator.cs
  tests/generator/bindastests.cs
Owners: none

Re-generate global.json for PR #22228: [net10.0] Update dependencies from dotnet/sdk
  global.json
Owners: none

Fix path
  tools/devops/automation/scripts/fetch-remote-binlogs.ps1
Owners: none

Search 3
  NuGet.config
Owners: none

Search 4
  NuGet.config
Owners: none

Search 5
  NuGet.config
Owners: none

Search 6
  NuGet.config
Owners: none

Search 7
  NuGet.config
Owners: none

Revert "Search 7"
  NuGet.config
Owners: none

Stop the build once check is done.
  tools/devops/automation/templates/main-stage.yml
Owners: none

simlify
  NuGet.config
Owners: none

shortest failure
  NuGet.config
Owners: none

multifeedsuccess
  NuGet.config
Owners: none

Auto-format source code
  src/CoreML/MLMultiArray.cs
  src/coredata.cs
  src/foundation.cs
  src/gamecontroller.cs
  src/gamekit.cs
  src/multipeerconnectivity.cs
Owners: @dalexsoto, @mandel-macaque, @spouliot, @rolfbjarne, @chamons, @VincentDondain

[RGen] Add the new added methods to smart enums.
  src/rgen/Microsoft.Macios.Generator/Emitters/EnumEmitter.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedAVCaptureDeviceTypeEnum.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedAVCaptureSystemPressureLevel.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedCustomLibraryEnum.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedCustomLibraryEnumInternal.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedMacOSAVMediaCharacteristics.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectediOSAVMediaCharacteristics.cs
Owners: none

[CoreFoundation] Remove !NET code.
  src/CoreFoundation/CFAllocator.cs
  src/CoreFoundation/CFArray.cs
  src/CoreFoundation/CFBoolean.cs
  src/CoreFoundation/CFBundle.cs
  src/CoreFoundation/CFData.cs
  src/CoreFoundation/CFDictionary.cs
  src/CoreFoundation/CFException.cs
  src/CoreFoundation/CFMachPort.cs
  src/CoreFoundation/CFMessagePort.cs
  src/CoreFoundation/CFMutableString.cs
  src/CoreFoundation/CFNotificationCenter.cs
  src/CoreFoundation/CFPreferences.cs
  src/CoreFoundation/CFPropertyList.cs
  src/CoreFoundation/CFReadStream.cs
  src/CoreFoundation/CFRunLoop.cs
  src/CoreFoundation/CFSocket.cs
  src/CoreFoundation/CFStream.cs
  src/CoreFoundation/CFString.cs
  src/CoreFoundation/CFType.cs
  src/CoreFoundation/CFUrl.cs
  src/CoreFoundation/CFWriteStream.cs
  src/CoreFoundation/CGAffineTransformComponents.cs
  src/CoreFoundation/Dispatch.cs
  src/CoreFoundation/DispatchBlock.cs
  src/CoreFoundation/DispatchData.cs
  src/CoreFoundation/DispatchIO.cs
  src/CoreFoundation/DispatchSource.cs
  src/CoreFoundation/NativeObject.cs
  src/CoreFoundation/OSLog.cs
Owners: @rolfbjarne, @spouliot

Auto-format source code
  src/rgen/Microsoft.Macios.Generator/Emitters/EnumEmitter.cs
Owners: none

[WebKit] Fix nullability in WKUIDelegate.RunJavaScriptTextInputPanel for XAMCORE_5_0.
  src/webkit.cs
Owners: @chamons

[devops] Clean up temporary files on Windows before running remote tests.
  tools/devops/automation/templates/windows/build.yml
Owners: none

Ignore null.
  src/rgen/Microsoft.Macios.Generator/Emitters/EnumEmitter.cs
Owners: none

Re-generate global.json for PR #22228: [net10.0] Update dependencies from dotnet/sdk
  global.json
Owners: none

[AddressBook[UI]] Fix all availability attributes in these frameworks.
  src/AddressBook/ABAddressBook.cs
  src/AddressBook/ABGroup.cs
  src/AddressBook/ABMultiValue.cs
  src/AddressBook/ABPerson.cs
  src/AddressBook/ABRecord.cs
  src/AddressBook/ABSource.cs
  src/AddressBookUI/ABAddressFormatting.cs
  src/AddressBookUI/ABNewPersonViewController.cs
  src/AddressBookUI/ABPeoplePickerNavigationController.cs
  src/AddressBookUI/ABPersonViewController.cs
  src/AddressBookUI/ABUnknownPersonViewController.cs
  src/AddressBookUI/DisplayedPropertiesCollection.cs
  src/addressbookui.cs
  tests/cecil-tests/ApiAvailabilityTest.KnownFailures.cs
  tests/cecil-tests/ApiAvailabilityTest.cs
Owners: @dalexsoto

[toos] Update the compare-commits.sh script after the repo move.
  tools/compare-commits.sh
Owners: none

[net10.0] [dotnet] Detect if the 'marshal-ilgen' component is needed.
  dotnet/targets/Xamarin.Shared.Sdk.targets
  msbuild/Xamarin.MacDev.Tasks/Tasks/MarshalingPInvokeScanner.cs
Owners: @kzu, @jstedfast, @emaf, @rolfbjarne, @VincentDondain

[runtime] Fix numerous marshalling bugs in the dynamic registrar.
  runtime/runtime-internal.h
  runtime/runtime.m
  runtime/trampolines-arm64.h
  runtime/trampolines-arm64.m
  runtime/trampolines-internal.h
  runtime/trampolines-invoke.m
  runtime/trampolines-x86_64.m
  runtime/xamarin/trampolines.h
  tests/test-libraries/Makefile
  tests/test-libraries/libtest.h
  tests/test-libraries/testgenerator.cs
Owners: @rolfbjarne

[Bgen] Simplify the NSValue BindAS generated code.
  src/CoreAnimation/NSValue.cs
  src/CoreGraphics/NSValue.cs
  src/CoreLocation/NSValue.cs
  src/CoreMedia/NSValue.cs
  src/Foundation/NSValue.cs
  src/MapKit/NSValue.cs
  src/SceneKit/NSValue.cs
  src/UIKit/NSValue.cs
  src/bgen/Generator.cs
  src/bgen/TypeManager.cs
  src/frameworks.sources
Owners: @spouliot, @dalexsoto, @rolfbjarne, @chamons, @VincentDondain

Auto-format source code
  src/CoreAnimation/NSValue.cs
  src/CoreGraphics/NSValue.cs
  src/CoreLocation/NSValue.cs
  src/CoreMedia/NSValue.cs
  src/MapKit/NSValue.cs
  src/SceneKit/NSValue.cs
  src/UIKit/NSValue.cs
Owners: @spouliot, @dalexsoto, @VincentDondain, @rolfbjarne

Fix failing tests.
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedAVCaptureDeviceTypeEnum.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedAVCaptureSystemPressureLevel.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedCustomLibraryEnum.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedCustomLibraryEnumInternal.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectedMacOSAVMediaCharacteristics.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/SmartEnum/Data/ExpectediOSAVMediaCharacteristics.cs
Owners: none

[Rgen] Run Transformer tests when using make.
  tests/rgen/Makefile
Owners: @rolfbjarne

[Rgen] Remove properites that are part of the binding type.
  src/ObjCBindings/ExportAttribute.cs
Owners: none

[RGen] Add missing configuraiton options for notifications.
  src/ObjCBindings/FieldAttribute.cs
  src/rgen/Microsoft.Macios.Generator/Attributes/FieldData.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/DataModel/ClassBindingTests.cs
Owners: none

Auto-format source code
  src/rgen/Microsoft.Macios.Generator/Attributes/FieldData.cs
  tests/rgen/Microsoft.Macios.Generator.Tests/DataModel/ClassBindingTests.cs
Owners: none

Re-generate global.json for PR #22228: [net10.0] Update dependencies from dotnet/sdk
  global.json
Owners: none

[AppKit] Fix all availability attributes in this framework.
  src/AppKit/AppKitThreadAccessException.cs
  src/AppKit/Defs.cs
  src/AppKit/NSAccessibility.cs
  src/AppKit/NSBezierPath.cs
  src/AppKit/NSButton.cs
  src/AppKit/NSFont.cs
  src/AppKit/NSGestureRecognizer.cs
  src/AppKit/NSGraphics.cs
  src/AppKit/NSSegmentedControl.cs
  src/AppKit/NSSlider.cs
  src/AppKit/NSStringAttributes.cs
  src/AppKit/NSStringDrawing.cs
  src/AppKit/NSTextContainer.cs
  src/AppKit/NSWorkspace.cs
  tests/cecil-tests/ApiAvailabilityTest.KnownFailures.cs
  tests/cecil-tests/ApiAvailabilityTest.cs
Owners: @chamons, @timrisi

[net10.0] We've branched preview 2, so going to preview 3 now.
  Make.config
Owners: @rolfbjarne

[release/10.0.1xx-preview2] Make this the .NET 10 P2 release branch.
  Make.config
Owners: @rolfbjarne

Re-generate global.json for PR #22262: [release/10.0.1xx-preview2] Update dependencies from dotnet/sdk
  global.json
Owners: none
